/* CSS Reset v1.0 | 20080212 http://meyerweb.com/eric/tools/css/reset/index.html */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1em;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end CSS reset */

body,html{margin:0;padding:0;min-height:100%;}
div{position:relative;height:auto}
body{
  background-color: #a5c4e0;
  background-image:url('/web/20150203033442im_/http://www.foopets.com/images/star_bg_blue2.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
body,div,p,td,th {
  font-family: Tahoma, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color:#666562;
  line-height:1.3em;
}
h1,h2,h3,h4{
  font-family: Tahoma, 'Helvetica Neue', sans-serif;
  clear:both;
  line-height:1.2em;
  margin:1em 0 .5em 0;
  color:rgb(153, 219, 46);
}
small {font-size: 13px;}
p{margin:0 0 .5em 0}
h1{font-size:30px;letter-spacing:-1px;line-height:normal;margin:0 0 .5em 0}
h2{font-size:18px}
button::-moz-focus-inner { padding:0;border:none;}
button{font-family: Tahoma, 'Helvetica Neue', sans-serif;}

a:link,a {color:#0f75bc;text-decoration:none}
a:visited {color:#B46ABA;text-decoration:none}
a:hover,a:focus,a:active{color:#1292E8;text-decoration:underline}

a.novisit:link,a.novisit:visited{color:#0f75bc}
a.novisit:hover,a.novisit:focus,a.novisit:active{color:#1292E8}

a.h1:link,a.h1:visited{color:#9ccb3c}
a.h1:hover,a.h1:focus,a.h1:active{color:#5f8dca;text-decoration:underline}

a.withimage:link,a.withimage:visited{color:#0f75bc}
a.withimage:hover,a.withimage:focus,a.withimage:active{color:#5f8dca;text-decoration:none}

a.lock:link,a.lock:visited{color:#d48a00;text-decoration:none}
a.unlock:link,a.unlock:visited{color:#888888;text-decoration:none}



/* LEGACY STYLES (pre-2011-03-03 styles TODO - eliminated unnecessary ones) */

a.user,a.user:link,a.user:visited{
    font-weight:bold;
    color:#0f75bc;
}

a, input {
outline-color: invert;
outline-style: none;
outline-width: medium;
}
a:active, a:focus, input[type="image"] {
outline: 0;
}

span.abbr, acronym, span.help { border-bottom: 1px dotted #666; cursor: help; }

.nobr,.nowrap {white-space:nowrap}

.right{float:right}
.left{float:left}

.new{color:white;background-color:red;font-weight:bold;display:inline;padding:0 3px;border-radius:3px;-webkit-border-radius:3px;}


input[type="text"],input[type="password"],select#user_country{
  border: 1px solid #d8d6d2;
  padding:3px;
  font-size:100%;
  background:#fff url('/web/20150203033442im_/http://www.foopets.com/images/input-field-shadow.png') repeat-x top;
  border-radius:5px;
  -webkit-border-radius:5px;
}
input[type="text"]:focus,input[type="password"]:focus{
  background-color:#ffd;background-image:none;border-color:#777
  }

select#user_country{
  margin-right:2em;
}



form#mainform input.bg{border:1px solid #ccc;padding:1px;font-size:105%}
form#mainform input.bg:focus{background-color:#ffd;background-image:none;border:1px solid black}
button{margin:0}

table {border-collapse:collapse;border:none}
table td{border-bottom:1px solid #ebe9e4;padding:3px}
table th{border-bottom:2px solid #d8d6d2;font-size:13px;padding:0 10px 3px 3px;white-space:nowrap}


textarea{
    font-family:Helvetica,Arial,sans-serif;
    font-size:90%;
    padding:3px;
}

p.notice, p.error{
  font-size:90%;
  color: black;
  background-color: #e3f0c9;
  clear: both;
  width:auto;
  padding: 4px 12px;
  margin:0 0 8px 0;
  border-radius:12px;
  -webkit-border-radius:12px;
}
p.error {color:#f00}
a.closebutton,a.closebutton:visited,a.closebutton:hover,a.closebutton:focus{
        background-image:url('/web/20150203033442im_/http://www.foopets.com/images/redX.gif');
        background-repeat:no-repeat;
        margin-top:-1px;
        margin-right:-7px;
        width:20px;
        height:20px;
        float:right;
        display:inline;
        overflow:hidden;
        text-decoration:none;
}


div.rounded16bg {
  height:auto;
}
div.rounded16bg div.hd {
  height: 16px;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/curve-top-760x16.png');
  background-color:transparent;
}
div.rounded16bg div.bd {
  background-color:white;
}
div.rounded16bg div.ft {
  height:16px;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/curve-bottom-760x16.png');
  background-color:transparent;
}
div.rounded12white {
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-white-12-tl.gif');
  background-position: top left;
  background-repeat: no-repeat;
}
div.rounded12white div.hd {
  height: 12px;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-white-12-tr.gif');
  background-position: top right;
  background-repeat: no-repeat;
}
div.rounded12white div.bd {
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-white-12-bl.gif');
  background-position: bottom left;
  background-repeat: no-repeat;
}
div.rounded12white div.ft {
  margin:-12px 0 0 12px;
  height:12px;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-white-12-br.gif');
  background-position: bottom right;
  background-repeat: no-repeat;
}

/* Start Game Page Stuff */
div.lb {overflow:visible; margin-top:0;background-color:#fff;padding:0 5px 10px 5px;min-height:500px }
div.lb table{border-collapse:collapse;width:340px;}
div.lb th, div.lb td{padding:0;border:none;font-size:18px;}
div.lb th{text-align:left;font-weight:normal;width:auto;overflow:hidden;padding:1px 0 1px 0;vertical-align:middle;border-bottom:3px solid white;}
div.lb td{text-align:right;font-weight:bold;width:50px;padding-left:.5em;overflow:visible}
div.lb th.index{font-size:36px;text-align:right;width:1.2em;line-height:1em;font-weight:bold;padding-right:8px;color:#6d84b4}
div.lb th.header{font-size:12px;color:#666562;font-weight:bold;text-decoration:underline;text-align:right;width:auto}
div.lb a{font-weight:bold}
div.lb h3{font-size:12px;margin:5px 0 10px 0}
div.lb div.info {padding-top:8px;}
div.lb div.info p.user{margin: 0 0 3px 0;line-height:1em;}
div.lb div.info p.dt{font-size:13px; color:#aaa;line-height:1em;}

div.lb a:link,div.lb a:visited{color:#0f75bc}
div.lb a:hover,div.lb a:focus,div.lb a:active{color:#5f8dca}

div.lb table img{width:50px;border:1px solid #6d84b4;}

div.lb th img{border:1px solid #6d84b4;width:50px;}

div#games_rightcol h2, div#instructions h2{font-size:28px;color:#9ccb3c;margin:5px 0 10px 0}
div#games_rightcol{width:410px;float:right}
div#instructions {width:295px;float:left;margin-right:15px;text-align:justify;}
div#instructions p {font-size:14px;margin:0 0 1em 0;line-height:normal}
div#instructions span{display:inline;padding:1px 3px 0 3px;color:white;}
div#instructions li{line-height:normal;margin-bottom:.5em;font-size:14px}

div#arcade_games_rightcol h2, div#arcade_instructions h2{font-size:28px;color:#9ccb3c;margin:5px 0 10px 0}
div#arcade_games_rightcol{width:440px;float:right}
div#arcade_instructions {width:265px;float:left;margin-right:15px;text-align:justify;}
div#arcade_instructions p {font-size:14px;margin:0 0 1em 0;line-height:normal}
div#arcade_instructions span{display:inline;padding:1px 3px 0 3px;color:white;}
div#arcade_instructions li{line-height:normal;margin-bottom:.5em;font-size:14px}

div.lb div.pic {width:52px;height:52px;margin-right:5px;float:left}
div.games_info {width:170px;height:52px;margin-top:10px;float:left}
div.games_info p.user {font-size:18px;font-weight:bold;line-height:1.2em;margin:0;padding:0}
div.games_info p.dt{font-size:11px;font-weight:normal;margin:0;padding:0}

div.lb h3 {font-size:12px;font-family:helvetica,sans-serif;font-weight:normal;margin:0 0 5px 0}

div#this_hour  {max-height:4000px;overflow:auto}
div#fd  {max-height:4000px;overflow:auto}
div#me  {overflow:auto}
div#me img {max-width: 530px;}
div#today  {max-height:4000px;overflow:auto}
div#all_time  {max-height:4000px;overflow:auto}
div#friends  {max-height:4000px;overflow:auto}
div#me div.pet{clear:both}

a#reload img{border:none;width:22px;height:22px;margin-right:5px}
/* End Games Page Stuff */



div#player {margin:0 0 0 -7px;width:742px;overflow:hidden;}
div#player.widescreen {margin:0 auto;width:760px;overflow:hidden;}
div#footube_div {float:left;position:relative;display:block;
        width:440px;height:330px;background-image:url('/web/20150203033442im_/http://www.foopets.com/images/foopets_loading6.gif')}
div#footube_container {width:440px;height:330px;float:left;display:inline;position:relative;}
div#footube_rightpanel_wrapper {height:380px}
div#rightcol {float:right;display:inline;margin:0 0 0 7px;padding:0;width:293px;overflow:hidden}
div#footube_mask_div{background:url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corners-mask-440x330.png') no-repeat;position:absolute;z-index:49000;width:440px;height:330px;top:0;left:0;}

div#footube_widescreen_div {float:none;position:relative;display:block;
        width:760px;height:330px;background-image:url('/web/20150203033442im_/http://www.foopets.com/images/foopets_loading7_ws.jpg');background-repeat:no-repeat}
div#footube_widescreen_container {width:760px;height:330px;float:left;display:inline;position:relative;}

div#signin {
  position:absolute;
  z-index:1000;
  text-align:left;
  height:75px;
  width:500px;
  top:12px;
  right:5px;
  font-size: 16px;
}
div#signin label{
    margin-left: 5px;
}
div#signin div{
  float: left;
  margin-right: 5px;
}
div#signin_button{
  margin-top: 20px;
}
div#signin_fp{
  clear: both;
}
div#fp_password{
   padding-top: 20px;
}
div#fp_password label{
   margin-right: 5px;
}
p#fpwd_message{
   margin-top: 15px;
   font-size: 16px;
}

h1#greetings_logo {
  display:block;
  position:absolute;
  z-index:99999;
  background:url('/web/20150203033442im_/http://www.foopets.com/images/foopets_greetings_logo2_238x114.png') no-repeat;
  width:238px;
  height:114px;
  left:50%;
  top:0;
  margin:0 0 0 -387px;
  padding:0;
  overflow:hidden;
}
h1#greetings_logo a{z-index:40000;display:block;position:relative;width:238px;height:114px;text-indent:-1000px;}
h2#greetings_tagline{
  text-indent:-2000px;
  margin:13px auto 0 auto;
  padding:0;
  width:485px;height:30px;
  background:url('/web/20150203033442im_/http://www.foopets.com/images/greetings_tagline.png') no-repeat;
}


ul#greeting_steps{
  z-index:49000;
  display:block;
  position:relative;
  width:680px;height:49px;
  margin:15px auto 10px auto;padding:0;
  list-style:none;
  overflow:hidden;
}
ul#greeting_steps li{display:inline;text-indent:-1000px;margin:0;padding:0;float:left;overflow:visible;}
ul#greeting_steps li a{background:url('/web/20150203033442im_/http://www.foopets.com/images/greetings_steps1234.gif');
  height:49px;padding:0;margin:0;display:block;overflow:visible;}

ul#greeting_steps li#step_1_header a{background-position:0 -1px;width:181px;}
ul#greeting_steps li#step_1_header.active a,ul#greeting_steps li#step_1_header a:hover{background-position:0 -50px;}

ul#greeting_steps li#step_2_header a{background-position:-181px -1px;width:217px;}
ul#greeting_steps li#step_2_header.active a,ul#greeting_steps li#step_2_header a:hover{background-position:-181px -50px;}

ul#greeting_steps li#step_3_header a{background-position:-398px -1px;width:168px;}
ul#greeting_steps li#step_3_header.active a,ul#greeting_steps li#step_3_header a:hover{background-position:-398px -50px;}

ul#greeting_steps li#step_4_header a{background-position:-566px -1px;width:114px;}
ul#greeting_steps li#step_4_header.active a,ul#greeting_steps li#step_4_header a:hover{background-position:-566px -50px;}


div#ad {z-index:1000;background-color:Transparent;
        display:block;position:absolute;
        top:28px;right:26px;
        text-align:center;
        width:472px;height:63px;
    }

table#linkstable {
    font-family:Helvetica,Arial,sans-serif;
    font-size:12px;
}
table#linkstable tr td {
    border:0px;
    padding:2px;
    font-family:Helvetica,Arial,sans-serif;
    font-size:12px;
}

div.clear{clear:both;}
div#menu{
    z-index:1000;
    position:relative;
    width:400px;
    overflow:hidden;
    height:30px;
    margin:4px 0 0 16px;
}
ul#tabs {list-style:none;margin:0 12px;padding:0;height:30px;margin:0 auto;overflow:visible}
ul#tabs li{background-image:url('/web/20150203033442im_/http://www.foopets.com/images/top_tab_left.jpg');background-position:0 1px;background-repeat:no-repeat;
      display:inline;margin:0;padding:0;float:left;overflow:visible;}
ul#tabs li a,ul#tabs li a:hover,ul#tabs li a:focus,ul#tabs li a:active{text-decoration:none}
ul#tabs li a{background-image:url('/web/20150203033442im_/http://www.foopets.com/images/top_tab_right.jpg');background-position:100% 1px;background-repeat:no-repeat;
      height:30px;width:auto;margin:0;
      font-family:Tahoma,'Trebuchet MS',sans-serif;font-size:16px;color:#999;
      min-width:40px;line-height:15px;font-weight:normal;text-align:center;padding:6px 8px;
      display:block;overflow:visible}
ul#tabs li.selected,ul#tabs li:hover{background-position:0 -30px;}
ul#tabs li.selected a,ul#tabs li a:hover{background-position:100% -30px;
       padding-top:5px;color:#0f75bc}
ul#tabs li.selected a {font-weight:bold;padding-top:5px;color:#0f75bc}
ul#tabs li a span.featured {
  color:#FF6666;
  display:block;
  font-size:9px;
  font-weight:bold;
  height:10px;
  margin:-24px 0 0 20px;
  padding:1px;
  position:absolute;
  width:auto;
}



ul#submenu {
  position:relative;
  display:block;
  list-style: none;
  font-family:Tahoma,'Trebuchet MS',sans-serif;
  font-size:13px;
  line-height:17px;
  letter-spacing:normal;
  font-weight:bold;
  overflow:hidden;
  margin:0;padding:0;
}
ul#submenu li {
  position:relative;
  display:inline;
  float:left;
  height:19px;
  padding:0;
  margin:0 2px 0 0;
  background-color:#f2f2eb;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-white-12-tl.gif');
  background-position: top left;
  background-repeat: no-repeat;
}
ul#submenu li a {
  position:relative;
  display:inline;
  margin:0;
  vertical-align:top;
  text-decoration:none;
  color: #999794;
  padding:2px 12px 0 12px;
  background-color:transparent;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-white-12-tr.gif');
  background-position: top right;
  background-repeat: no-repeat;
}
ul#submenu li.active {background-color:#ebe9e4;cursor:auto;}
ul#submenu li.active a {cursor:auto;color:black}
ul#submenu li:hover    {background-color:#ebe9e4;cursor:pointer;color:black}



div.multitab {
  width:auto;background-color:#ebe9e4;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-white-12-bl.gif');
  background-position: bottom left;
  background-repeat: no-repeat;
  height:auto;
  clear:both;
}
div.multitab div.hd {
  position:relative;
  padding:0;
  height:12px;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-white-12-tr.gif');
  background-position: top right;
  background-repeat: no-repeat;
}
div.multitab div.tab_bd {
  position:relative;
  padding:0 12px;
  min-height:287px;
  overflow:auto;
}
div.multitab div.profile_tab_bd {
  position:relative;
  padding:5px;
  min-height:287px;
  overflow:auto;
  background-color:#ffffff;
  margin:0 10px 0 10px;
}
div.multitab div.ft {
  margin:0 0 0 12px;
  height:12px;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-white-12-br.gif');
  background-position: bottom right;
  background-repeat: no-repeat;
}
div.multitab h3{font-size:18px;margin:0 0 .4em 0}
div.multitab p{line-height:1.2em;margin:0 0 1em 0}
div.multitab blockquote{margin:-.5em 0 1em 1em;line-height:1.2em}

div.multitab_player div.tab_bd, div.multitab_adoption div.tab_bd {height:306px}
div.multitab_player div.profile_tab_bd, div.multitab_adoption div.profile_tab_bd {height:287px}

span.profile_heading{font-weight:bold;}


div.pet div.pic{
    float:left;
    display:inline;
    width:88px;
    height:68px;
    margin:0 5px 0 0;
}
div.pet div.pic_tiny{
    float:left;
    display:inline;
    width:66px;
    height:51px;
    margin:0 5px 0 0;
}
div.pet div.design_wrap{
    height:16px;
    width:auto;
    display:block;
    position:absolute;
    overflow:visible;
    bottom:2px;
    right:1px;
    padding:0;
    margin:0;
}
div.pet div.design_wrap a{
    font-size:10px;
    display:block;
    line-height:12px;
}
img.petpic{
    width:80px;
    height:60px;
    border:4px solid #bfbdb9;
    border-radius:4px;
    -webkit-border-radius:4px;
}
img.petpic_tiny{
    width:60px;
    height:45px;
    border:3px solid #bfbdb9;
    border-radius:3px;
    -webkit-border-radius:3px;
}
img.petpic:hover,
img.petpic_tiny:hover,
div.pet div.pic img.selected{
    border-color:#9ccb3c;
}
div.pet div.info{
    float:none;
    display:inline-block;
    width:150px;
    padding-top:0;
    height:auto;
}
div#pet_container{margin:10px 0}
div.pet div.info{
    font-size:14px;
    margin:0;
}
div.pet .pet_info_age{
  margin: 0 0 4px 0 !important;
  font-size:13px;
}
div.pet div.info h3{
    font-size:18px !important;
    margin: 0 !important;
}
b.red {font-weight:bold;display:inline;border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:0 4px 0 4px;background-color:red;color:white;}
div.pet {
    margin:0 0 5px 0;
    padding:0;
    height:auto;
}
div.pet h4{
    font-size:15px;
    padding:0;
    margin:-1px 0 0 0;
    color:black;
}

table.meter {
    padding:0;
    margin:0;
}
table.meter tr{
    height:16px; /* IE7 wants this to be an even number, or it renders badly */
}
table.meter td,table.meter th {
    padding:0 5px 0 0;
    margin:0;
    font-size:11px;
    border:0;
}
table.meter td {
    background-image: url('/web/20150203033442im_/http://www.foopets.com/images/petStat_meter.png');
    background-position: left;
    background-repeat: no-repeat;
    text-align:left;
    padding:0 1px;
    height:15px;
    width:101px;
}

table.meter td.spacer{width:20px;height:15px;background:url(/web/20150203033442im_/http://www.foopets.com/images/petStats.png) no-repeat 0px 1px;}
table.meter td.hunger{background-position:0px 0px;}
table.meter td.thirst{background-position:0px -15px;}
table.meter td.happy{background-position:0px -30px;}
table.meter td.owner_bond{background-position:0px -45px;}

img.p_m{margin:0px;border:0px;height:6px;width:1px}

div.multitab_adoption p,div.multitab_adoption div{line-height:1.1em;}
div.multitab_adoption h4 {font-size:13px}
div.multitab_adoption a.adopt_me {display:inline;width:auto;right:0;margin:5px 0 2px 0;}
div.multitab_adoption div.info p{font-size:11px;margin:0 0 5px 0}
div.multitab_adoption div.info p.larger{font-size:13px;}
div.multitab_adoption div.pet {clear:both;width:250px;padding:0 0 4px 0;border-bottom:1px solid #999794}

div.pet_actions{padding:1px 0}

div#available_pet_icons{
  width:100%;
  height:auto;
}
div#available_pet_icons div{
  width:120px;
  height:90px;
  background-color:#efefef;
  float:left;
  display:inline;
  margin:0 10px 8px 0;
  text-align:center;
}

.icons16x16 {
    border:0px;vertical-align:middle;width:16px;height:16px;
}

div#preloader {
    position: absolute;
    left: -9999px;
    top:  -9999px;
}
div#preloader img {
    display: block;
}

div.loading_control{
    display:block;
    position:absolute;
    top:0;right:5px;
    width:16px;
    height:16px;
}
div.loading_control img{height:16px;width:16px;float:right;border:none;display:block;}
div.loading_control a, div.loading_control a:visited{
    text-decoration:none;
}

div#activepet div.notifications{font-size:85%}

div.pet_meters {margin:2px 0 0 0;font-size:10px;}
div.pet_meter {display:block;margin:0}
div.pet_meter {clear:both;line-height:14px}
div.pet_meter div{
    float:left;
    display:inline;
    position:relative;
    font-weight:bold;
    width:2.2em;
    font-size:12px;
    text-align:center;
    height:14px;
    line-height:14px;
    padding:0px 3px 0 3px;
    margin:0 2px 0 0;
    background-color:white;
    border:1px solid #999794;
    color:black;
    border-radius:4px;
    -webkit-border-radius:4px;
}
div.pet_meter span.green{background-color:#00ff00;color:white}
div.pet_meter span.yellow{background-color:#ffff00;color:white}
div.pet_meter span.red{background-color:#ff0000;color:white}

div.pet_actions {
    margin:5px 0 5px;
    clear:both;
}
div.pet_actions img{margin:1px 0 2px 0;padding:0;border:0px;vertical-align:middle;width:16px;height:16px}
div.pet_actions a.smallbutton{height:18px;}

div#care_history,div.notify_history{
  font-size:90%;
}
div#care_history ol{
    list-style:decimal;
    margin:0 0 0 5px;
    padding:0 0 0 30px;
}
div#care_history ul.checkmarks{
    list-style-image: url('/web/20150203033442im_/http://www.foopets.com/images/16x16_checkmark.png');
    margin:0 0 0 5px;
    padding:0 0 0 30px;
}
div#care_history ul.checkmarks li a img{
    position:relative;
    display:inline;
    margin-top:2px;
}

div#care_history ol li,div#care_history ul li{
    font-weight:normal;
    Xfont-size:.85em;
    line-height:1.2em;
    margin:4px 0;
    padding:0;
}

.notifications {
    display:block;
    margin:0 0 5px 0;
}

.popup_description {
    padding:5px 0px 0px 5px;
    border:1px solid #ccc;
    margin-left:20px;
    background-color:#F3F3F3;
}

.pet_description {
    margin:5px 0 0 0;
}

.pet_description p {
    line-height:1.2em;
}

.pet_description div {
    display:block;
    text-align:right;
    padding-top:2px;
    margin-top:-15px;
}

div.iphone_breeds{overflow:show;}
div.iphone_breed_row{padding-top:20px;}
div.iphone_breed_icon{float:left;}
div.iphone_breed_description{float:left;width:500px;padding-left:10px;}

a.tbutton,a.tbutton:link,a.tbutton:visited {
    white-space:nowrap;
    display:inline;
    position:relative;
    margin-left:2px;
    padding:0 3px 1px 3px;
    font-size:11px;
    line-height:1.1em;
    font-family:Tahoma,Helvetica,Arial,sans-serif;
    font-weight:bold;
    border:1px solid #333;
    color:#000;
    background-color:#cccccc;
    text-decoration:none;
    -webkit-border-radius:3px;
    border-radius:3px;
}
a.tbutton:hover {
    background-color:#bdff6d;
    color:black;
    text-decoration:none;
}

a.bluebutton,a.bluebutton:link,a.bluebutton:visited {
    white-space:nowrap;
    display:inline;
    position:relative;
    padding:0 23px 2px 23px;
    font-size:11px;
    line-height:1.1em;
    font-family:Tahoma,Helvetica,Arial,sans-serif;
    border:0px;
    color:#fff;
    text-decoration:none;
    background-image: url('/web/20150203033442im_/http://www.foopets.com/images/blueButton.png');
    background-position: top left;
    background-repeat: no-repeat;
    margin-left:1px;
}
a.bluebutton:hover {
    color:black;
    text-decoration:none;
}

div#my_friends div.my_friend {border-bottom:1px solid #999794;margin:0 0 15px 0;padding-bottom:5px}
div#my_friends div.my_friend_pic {width:50px;float:left;max-height:50px;margin:0 5px 5px 0;overflow:hidden}
div#my_friends div.my_friend_pic img {width:50px;border:none}
div#my_friends div.my_friend_info {width:195px;float:left;padding-top:15px;overflow:visible}
div#my_friends div.friends_pets {:both;margin:5px 0 0 0;}
div#my_friends h2 {
    color:#999794;
    font-size:15px;
    border-bottom:1px solid #999794;
    margin:0 0 8px 0;
}
/* used on user profile page */
div.friend{display:block;float:left;margin:0px 5px 5px 0;width:125px;height:130px;font-size:11px;overflow:hidden;}
div.friend div.image{width:50px;height:50px;overflow:hidden;margin-bottom:3px;}
div.friend p{font-size:11px;color:#777}

/* used on user profile pages */
div.message_form{margin-bottom:10px;width:90%;}
div.message{display:block;vertical-align:top;padding-bottom:3px;margin-bottom:10px;border-bottom:1px solid #EBE9E4}
div.message div.sender{display:block;float:left;width:50px;}
div.message div.body div.header span.name{font-size:12px;}
div.message div.body div.header span.date{font-size:10px;}
div.message div.body{display:block;float:left;width:440px;margin-left:10px;min-height:40px;height:auto !important;height:40px;}
div.message div.footer{font-size:10px;margin-top:3px;}
div.message div.footer ul.links{list-style:none;padding:0;margin:0;line-height:16px;}
div.message div.footer ul.links li{display:inline;border-left:1px solid #888;padding:0 2px 0 3px}
div.message div.footer ul.links li:first-child{border-left:none;padding:0 2px 0 0}
div.message div.date{font-size:10px;}

tr.gift_even{background-color:#ffffff;}
tr.gift_odd{background-color:#efefef;}

ul#body_menu {
  position:relative;
  display:block;
  list-style: none;
  font-family:Tahoma,Helvetica,Arial,sans-serif;
  font-size:12px;
  line-height:17px;
  height:17px;
  letter-spacing:normal;
  font-weight:bold;
  overflow:visible;
  border-bottom:1px solid #938a6b;
  margin:0 0 15px 0;
  padding:0 0 0 7px;
}
ul#body_menu li {
  position:relative;
  display:inline;
  float:left;
  height:17px;
  padding:0;
  margin:0 2px 0 0;
  background-color:#f2f2eb;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-khaki-line-15-tl.gif');
  background-position: top left;
  background-repeat: no-repeat;
  opacity: .65;
	filter: alpha(opacity=65);
}
ul#body_menu li a {
  z-index:3000;
  position:relative;
  display:inline-block;
  margin:0;
  height:17px;
  text-decoration:none;
  color: #666461;
  padding:0 15px 0 15px;
  background-color:Transparent;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-khaki-line-15-tr.gif');
  background-position: top right;
  background-repeat: no-repeat;
}
ul#body_menu li:hover,
ul#body_menu li.active,
ul#body_menu li.selected{
  opacity: 1;
	filter: alpha(opacity=100);
}
ul#body_menu a:hover {color:black;height:18px;}
ul#body_menu li:hover {height:18px;margin-top:-1px;background-color:#ebe9e4;cursor:pointer;}
ul#body_menu li.selected,ul#body_menu li.active {height:19px;margin-top:-1px;background-color:#fff;cursor:auto;}
ul#body_menu li.selected a,ul#body_menu li.active a {height:19px;cursor:auto;color:black}

ul#body_menu_icons {
  z-index:1000;
  position:relative;
  display:block;
  list-style: none;
  font-family:Tahoma,Helvetica,Arial,sans-serif;
  font-size:20px;
  line-height:30px;
  height:30px;
  letter-spacing:normal;
  font-weight:bold;
  overflow:visible;
  border-bottom:1px solid #938a6b;
  margin:0 0 15px 0;
  padding:0 0 0 7px;
}
ul#body_menu_icons li {
  z-index:2000;
  position:relative;
  display:inline;
  float:left;
  height:30px;
  padding:0;
  margin:0 2px 0 0;
  background-color:#f2f2eb;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-khaki-line-15-tl.gif');
  background-position: top left;
  background-repeat: no-repeat;
  opacity: .65;
	filter: alpha(opacity=65);
}
ul#body_menu_icons li img{
    margin-top:3px;width:25px;height:25px;
}

ul#body_menu_icons li a {
  z-index:3000;
  position:relative;
  display:inline-block;
  margin:0;
  height:30px;
  text-decoration:none;
  color: #666461;
  padding:0 15px 0 15px;
  background-color:Transparent;
  background-image: url('/web/20150203033442im_/http://www.foopets.com/images/rounded-corner-khaki-line-15-tr.gif');
  background-position: top right;
  background-repeat: no-repeat;
}
ul#body_menu_icons a:hover {color:black}
ul#body_menu_icons li:hover   {background-color:#ebe9e4;cursor:pointer;}
ul#body_menu_icons li:hover,
ul#body_menu_icons li.active,
ul#body_menu_icons li.selected{
  opacity: 1;
	filter: alpha(opacity=100);
}
ul#body_menu_icons li.selected,ul#body_menu_icons li.active {height:31px;margin-top:0;background-color:#fff;cursor:auto;}
ul#body_menu_icons li.selected a,ul#body_menu_icons li.active a {height:31px;cursor:auto;color:black}

.clearleft{clear:left}
.clearright{clear:right}
.clearboth{clear:both}

/*modalbox dialog divs*/
div.MB_overlay {}
div.MB_window {margin-top:90px;}


div#shelter_list img{width:160px;height:120px;border:0;display:inline;float:left;margin:0 20px 0 0}
div.shelter_list_pet div.info{font-size:16px;display:inline;width:400px;height:auto;float:left;margin:45px 0 0}
div.shelter_list_pet{clear:both;padding:30px;border-bottom:1px solid #d8d6d2}


div#footer_content {padding:0 20px;}
div#footer_content h4 {color:#bbb;font-size:13px;margin:0 0 5px 0;padding:0;border-bottom:1px solid #bbb}
div#footer_content div.footer_col {width:164px;min-height:80px;float:left;margin:0 20px 0 0}
div#footer_content div.last {margin-right:0}
div#footer_content ul{margin:0;padding:0;}
div#footer_content li{padding:0 0 0 7px;font-size:12px;line-height:1.4em}
div#footer_content a,div#footer_content a:visited, div#footer_content a:hover{color:#0f75bc;}


div#signupfooter {text-align:right;font-size:80%;color:#666562;padding-right:12px}
div#signupfooter i{display:inline;position:relative;padding:0 3px;color:#999794;font-style:normal}

/* mart stuff */
.mart table#backdrops {width:100%;margin-bottom:20px}
.mart table#backdrops td{text-align:center;width:30%;font-size:13px}
.mart #div_backdrop{background-repeat:no-repeat;width:440px;height:330px;}
.mart #product_background{font-size:12px}
.mart table.products {width:610px!important}
.mart table.products td{text-align:left;vertical-align:top;padding:5px;}
.mart table.products td.image{width:100px;}
.mart table.products td.image img{width:90px}
.mart table.products td.middlecolumn{text-align:left;}
.mart table.products td.pricecolumn {width:165px;}
.mart table.products div.name{float:none;font-size:18px;font-weight:bold;}
.mart div.new{line-height:12px;float:left;display:inline;clear:right;
        margin-top:2px;margin-left:5px;background-color:#dd0000;
       color:#ffffff;font-weight:bold;font-size:10px;
        padding:0 3px 0 3px;
        -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;
      }
.mart table.products div.description{Xclear:both;font-size:13px;margin:2px 0 4px 0}
.mart table.products div.info{font-size:12px;color:#999}
.mart table.products div.info span.redhilite{font-size:12px;color:white;background-color:red;font-weight:bold;display:inline;padding:0 3px;border-radius:3px;-webkit-border-radius:3px;}
.mart table.products div.preview{font-size:14px}
.mart table.products div.price{font-size:14px;color:#888888;text-align:right;font-weight:bold;padding:3px 0;margin:0 0 2px 0;white-space:nowrap}
.mart table.products div.price a.smallbutton{margin:0 1px!important;padding:1px 6px 2px!important}
.mart table.products div.divider{text-align:right;line-height:1em;padding-right:84px;font-size:12px;font-weight:normal;color:#999}
.mart table.products div.rightcolumn{font-size:13px;white-space:nowrap;color:#666666;text-align:right;padding:0 0 0 0;}
.mart table.products div.rightcolumn input.big_button{font-size:14px;font-weight:bold;background-color:#009900}
.mart table.products tr.odd{background-color:#f3f3f3;}
.mart table.products tr.odd td.image img{padding:3px;}
.mart table.products tr.even{background-color:#ffffff;}
.mart table.products tr.even td.image img{padding:3px;}
.mart span#num_foo_dollars{font-weight:bold}
.mart div.pages{text-align:right;margin-bottom:15px;overflow:visible;height:22px;line-height:1.2em;float:right}
.mart div.pages a {}
.mart div.pages span {display:inline;padding:0 4px}
.mart div.pages span.current {font-weight:bold;font-size:16px;border:1px solid #bfbdb9}
.mart div.sort{float:none}
.mart div.sort a.selected {font-weight:bold}
.mart div.search{float:right}


div#news {
  Xclear:both;
  height:auto;
  margin:30px 0 0 0;
}
div#news div.news_col {
  width:270px;
  float:left;
  padding:0 3px 0 20px;
  border-left:1px solid #91907b;
  margin-top:-8px;
}
div#news div.news_double_col {
  width:300px;
  float:left;
  padding:0 0 0 0;
  margin:-8px 0 0 30px;
}
div#news div.news_col_first {
  padding-left:0;
  border-left:none;
  width:230px;
}
div#news div.news_col_last {
  padding-right:0;
}
h2#newsheader{
  background:transparent url('/web/20150203033442im_/http://www.foopets.com/images/icon_news.png') 5px 2px no-repeat;
  border-radius:9px 9px 0 0;
  -webkit-border-radius:9px 9px 0 0;
  border-bottom:1px solid #91907b;
  text-align:left;
  font-size:22px;
  line-height:22px;
  padding:3px 14px 5px 35px;
  color:#91907b;
  margin:0 0 5px 0;
}
div#news p{line-height:1.2em;margin:.5em 0}
div#news div.news_col_first p{margin:0 0 0px 0}
div#news div.news_col_first p.price{margin:0}
div.fp {text-align:left;}
div.item {clear:both;margin-top:15px}
div.news_col div.item {height: 80px}
div#news div.pic {width:100px;float:left}
div#news div.info {width:125px;float:left;padding-left:4px}
div.fp img{width:90px;height:70px;
    float:left;
    background-color:white;
    border:4px solid #bfbdb9;
    border-radius:4px;
    -webkit-border-radius:4px;}
div.fp img:hover{border-color:#9ccb3c;}
div.fp h5{font-size:14px;font-weight:bold;margin:0;padding:0;line-height:1.1em;}
div#news p.price{font-size:12px;margin:0;line-height:1.1em}
div#news p.remaining{font-size:11px;margin:2px 0 2px 0;line-height:normal;}
div#news p.remaining span{font-size:12px;font-weight:bold;display:inline;white-space:nowrap;
    border-radius:3px;-webkit-border-radius:3px;
    padding:1px 4px 0 4px;background-color:red;color:white;}
div#news img.rare_item{left:62px;top:6px;width:30px;height:13px;border:0;position:absolute;background:none}

#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 50000;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
	position: absolute;
	top: 0;
	border: 0 solid;
	text-align: left;
	z-index: 50001;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
	position: relative;
	background-color: #fff;
	height: 100%;
}

#MB_header {
	margin: 0;
	padding: 0;
}

#MB_content {
	padding: 6px .75em;
	overflow: auto;
}



#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url('/web/20150203033442im_/http://www.foopets.com/images/spinner.gif') 50% 0 no-repeat;
}

/* Color scheme */
#MB_frame {
	padding-bottom: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
#MB_window {
	background-color: #EFEFEF;
	color: #000;
	-webkit-box-shadow: 0 8px 64px #000;
	-moz-box-shadow: 0 0 64px #000;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
#MB_content { border-top: 1px solid #F9F9F9; }
#MB_header {
  background-color: #e3f0c9;
  border-bottom: 1px solid #CCC;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
#MB_caption {
	font-weight:bold;
    font-size:14px;
    font-family:Tahoma,Helvetica,Arial,sans-serif;
    color:#6cab1c;
	padding: .2em 2em .2em .75em;
	margin: 0;
	text-align: left;
}


a#MB_close,a#MB_close:visited,a#MB_close:hover,a#MB_close:focus{
        display: block;
        text-indent:-1000px;
        background-image:url('/web/20150203033442im_/http://www.foopets.com/images/redX.gif');
        background-repeat:no-repeat;
        position: absolute;
        right: 5px; top: 4px;
        width:20px;
        height:20px;
        overflow:hidden;
        text-decoration:none;
}

/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}

div#WzTiTl
{
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  border:1px solid #cbcbbe;
  padding-right: 0px;
}
  .currency_table img.icon {border:0px;vertical-align:middle;margin-top:-2px;width:16px;height:16px}
  .currency_table {
    width:630px;
    border-collapse:collapse;
  }
  .currency_table tr {border:none}
  .currency_table tr td{width:180px;font-size:13px;text-align:left;border:1px solid #e3f0c9;padding:5px;}
  .currency_table tr th {
    font-size:16px;font-weight:bold;
    font-family:Tahoma,Helvetica,Arial,sans-serif;
    line-height:1.1em;
    background-color:#e3f0c9;
    border:1px solid white;
    text-align:center;
    padding:5px 5px;
    white-space:normal;
    border-radius:11px 11px 0 0;
    -webkit-border-radius:11px 11px 0 0;
  }
  .currency_table tr th.left {
    float:none;
    font-size:13px;
    width:70px;
    text-align:left;
    padding:5px 5px 0 9px;
    border-radius:11px 0 0 11px;
    -webkit-border-radius:11px 0 0 11px;
  }
  .currency_table ul{list-style:disc;padding:0 0 0 1.5em;margin:0 0 0 0}
  .currency_table ul li{line-height:1.1em;margin:0 0 .3em 0;padding:0 0 0 0}
  .currency_table tr th.blank {background-color:transparent}

  div.user_th{
          width:50px;max-height:50px;
          border:1px solid #666;
          overflow:hidden;
          border-radius:4px;
          -webkit-border-radius:4px;
  }

  /* CSS to go with Prototip.Styles */
.prototip {
	font: 80%;
    color: #000;
}
/* the default style */
.prototip .default {
	width: auto;
    max-width:270px;
    overflow:hidden;
}
.prototip .default .toolbar {
	background: #ccc;
	font-weight: bold;
}
.prototip .default .title { padding: 3px 6px; }
.prototip .default .content {
	padding: 5px;
    color: #908f7b;
	background: #fff;
    line-height:1.2em;
    border-radius:3px;
    -webkit-border-radius:3px;
}
/* loader gif */
.prototipLoader {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 14px;
	width: 14px;
	border: 1px solid #dddddd;
	overflow: hidden;
}
/* Required for all tooltips, do not modify */
.prototip{position:absolute;overflow:hidden;}.prototip .tooltip,.prototip .toolbar,.prototip .toolbar .title{position:relative;}.prototip .content{clear:both;}.prototip .toolbar .close{position:relative;text-decoration:none;float:right;width:19px;height:15px;display:block;line-height:0;font-size:0;border:0;cursor:pointer;}.prototip .tooltip{clear:both;float:left;}.prototip .borderLeftWrapper,.prototip .borderRightWrapper{position:absolute;top:0;left:0;width:300px;height:20px;}.prototip .borderFrame{height:100%;width:100%;float:left;margin:0;padding:0;position:relative;}.prototip .borderTop,.prototip .borderBottom{overflow:hidden;}.prototip .borderRow{list-style-type:none;float:left;width:100%;position:relative;clear:both;margin:0;padding:0;}.prototip_CornerWrapper{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;clear:both;}.prototip_Corner{float:left;position:relative;}.prototip canvas{position:relative;float:left;}.prototip_CornerTr,.prototip_CornerBr{float:right;}.prototip_BetweenCorners{position:absolute;top:0;left:0;width:100%;overflow:hidden;clear:both;}.prototip .borderMiddle{position:relative;float:left;}.prototip .borderCenter{position:relative;float:left;height:100%;}.prototip_StemWrapper{position:relative;width:100%;height:auto;clear:both;}.prototip_StemBox{float:left;position:relative;}.prototip_Stem{width:100%;position:absolute;overflow:hidden;}.iframeShim{position:absolute;border:0;margin:0;padding:0;background:none;overflow:hidden;}.prototip .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.prototip .clearfix{display:inline-block;}/* IE Mac Hide \*/ .prototip .clearfix{display:block;}/* IE Mac Hide End */


.prototip .flashTooltip {
  width: 205px;
}
.prototip .flashTooltip .toolbar {
}
.prototip .flashTooltip .title { padding: 0px; }
.prototip .flashTooltip .content {
  font: 11px Arial, Helvetica, sans-serif;
  padding: 0px;
}

div.tooltip,div.tooltip *{display:block}
div.tooltip{ z-index:3001; width: 205px; color:#000;
    font:lighter 11px/1.3 Arial,sans-serif;
    text-decoration:none;text-align:left}

div.tooltip span.tooltipTitle{padding: 5px 5px 5;
    background: url(/web/20150203033442im_/http://www.foopets.com/images/hintBubble3.png) no-repeat top}

div.tooltip b.tooltipBody{padding:0px 12px 15px 10px;color: #3a3a3a;
    font:lighter 11px/1.3 Arial,sans-serif;
    background: url(/web/20150203033442im_/http://www.foopets.com/images/hintBubble3.png) no-repeat bottom}

/* breeding helper styles */
span.inline_buy_result{margin:8px;display: block;}
span.inline_buy_result img{vertical-align:top;width:16px;height:16px}


/* Fooniverse styles */
h1.fooniverse {font-size:24px;margin:-4px 0 0 -5px}

/* Arcade styles */
h1.arcade {font-size:25px;margin:0 0 20px 0}
div#game_container {margin:0 0 15px 0}
div#game_dir {margin-bottom:60px}
div#game_dir div.game {margin:20px 10px;width:340px;float:left}
div#game_dir div.game div.pic {width:105px;float:left}
div#game_dir div.game div.pic img {width:100px;height:75px}
div#game_dir div.game div.info {width:220px;float:left;padding-top:3px}
div#game_dir div.game div.info h3{font-size:17px;line-height:1.1em;margin:0 0 2px 0}
div#game_dir div.game div.info p{font-size:15px;margin:0;line-height:1.1em}
div#game_dir div.game div.info p.sm{font-size:13px;margin-top:3px}


table.personalities {margin:0 auto}
table.personalities th{padding:0 5px 0 0;margin:1px;border:none;font-weight:bold;font-size:12px;line-height:14px;color:black;text-align:left;font-size:13px}
table.personalities th.top{border-bottom:1px solid black;padding-bottom:3px;margin-bottom:3px;text-align:center}
table.personalities td{border-bottom:1px solid white;margin:1px;padding:0 2px;color:#777;text-align:left;font-size:12px;line-height:14px;}
table.personalities td.min{text-align:right;cursor:pointer}
table.personalities td.max{text-align:left;cursor:pointer}
table.personalities td.val{padding:0;background-color:#dfdfdf;width:150px}
table.personalities td.val span{;cursor:pointer;display:inline-block;text-align:center;width:26px;padding:0;overflow:visible;background-color:#888;color:white;font-weight:bold;}
table.personalities td.val span.above_avg{background-color:#6c9b0c}
table.personalities tr.spacer td{height:3px;padding:0;font-size:1px}
table.personalities tr.spacer {height:3px;}
table.personalities tr.spacer img {height:3px;width:1px;border:none}


button::-moz-focus-inner { padding:0;border:none;}


/* FooMart */
div#products_main {margin:15px 0px 0px 0px;}
div#products_menu {float:left;margin:28px 5px 0px 0px;}
div#products_menu ul {margin:0px;padding:0px}
div#products_menu ul li.first_item {}
div#products_menu ul li a {padding: 3px 10px 3px 5px;width:auto;display:block;color:#777;}
div#products_menu ul li a:link,div#products_menu ul li a:visited {color: #777;text-decoration: none}
div#products_menu ul li a:hover{color:#000;}
div#products_menu ul li {
    font-size: 14px; list-style: none; border-bottom: 1px solid #fff;}
div#products_menu ul li.category_selected {
    background:#fff url('/web/20150203033442im_/http://www.foopets.com/images/triangle.png') right no-repeat;}
div#products_menu ul li.category_selected a {color:#000;font-weight:bold}
div#products_menu ul li.decor_tab {background-color:#F7E8F0!important}
div#products_menu ul li.functional_tab {background-color:#DAEDF2!important}
div#products_menu ul li.decor_tab:hover {background-color:#F4D0E3!important}
div#products_menu ul li.functional_tab:hover {background-color:#BEEAF4!important}

div#products_list{float:left;width:610px!important;}
div#top_pages {text-align: right;}
span.right_arrow {margin-left:5px;}
div.pagination {font-size:13px}
/* Play Page Latest News Section */

div#p_sale_main {padding-left: 20px;height:90px}
div#p_sale {width:100px;float:left}
div#p_sale img {border:0px;width:85px;height:55px;margin-bottom: -5px;}
div.p_item {margin: 10px 0px 0px 10px;}
div.p_item a {font-size: 14px;font-weight: bold;}
div.p_item p {font-size: 11px;}
div.p_pic {font-size: 11px;float:left;border: 0px solid #ccc;}
div.p_info {font-size: 11px;padding-left: 10px;}
div#p_rare_main {float:left;border-right: 3.5px dotted #ccc;width:350px;height:90px}
div#p_rare {width:100px;float:left}
div#p_rare img {border:0px;width:85px;height:83px;}
div.p_rare_item {float:left;margin: 10px 0px 0px 10px;width: 220px;}
div.p_rare_item a {font-size: 14px;font-weight: bold;}
div.p_rare_item p {font-size: 11px;}
div#p_released_main {float:left;margin-top: 6px;}
div#p_released {float:left;margin-right: 5px;}
div#p_released img {border:0px;width:131px;height:83px;}
div.p_released_item {float:left;margin: 10px 0px 0px 0px;width: 195px;}
div.p_released_item a {font-size: 14px;font-weight: bold;}
div.p_released_item p {font-size: 11px;}
p.p_remaining span{font-size:12px;font-weight:bold;display:inline;white-space:nowrap;
                          border-radius:3px;-webkit-border-radius:3px;
                          padding:1px 4px 0 4px;background-color:red;color:white;}
div#p_top_col {border-bottom: 3.5px dotted #ccc;padding-bottom: 5px;height:90px}

/* FooMart - Showcase*/
div#showcase_main {
    margin:15px 0px 0px 0px;
    padding-top: 15px;
}
div#showcase_menu {}
div#showcase_menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
div#showcase_menu ul li {
    float:left;
    font-size: 16px;
    border: 1px solid #ccc;
    padding:10px 20px 5px 20px;
    margin: 0px 2px 0px 0px;
    border-radius-topleft:5px;
    -webkit-border-radius-topleft:5px;
    border-radius-topright:5px;
    -webkit-border-radius-topright:5px;
    background: #f9f9f9;
}
div#showcase_menu ul li.last {
    border:0px;
    background: #fff;
}
div#showcase_menu ul li a {
    text-decoration: none;
    color: #999999;
}
div#showcase_menu ul li a:hover {
    color: #000;
}
div#showcase_menu ul li.selected {
    background: #fff;
}
div#showcase_menu ul li.selected a {
    color: #000;
}
div#showcase_content {
    width:585px;
    float:left;
    padding:5px;
}
div.like_button {
    clear:both;
    overflow: hidden;
    margin: 0;
    padding:0px;
    height:23px;
}
img.showcase {
    width:550px;
    height:auto;
    border: 1px solid #ccc;
    padding: 2px;
}
label.like_text {
    position:absolute;left:24px;color: #fff;font-weight: bold;cursor:pointer;top:4px;
}
img.like_img {
    width:63px;height:23px;vertical-align:middle;
}
label.liked_text {
   position:absolute;left:24px;color: #999999;font-weight: bold;top:4px;
}
img.liked_img {
    width:63px;height:23px;vertical-align:middle;
}

/*Original Latest News*/

div#o_news {
  clear:both;
  height:auto;
  margin:20px 0 0 0;
}
div#o_news.widescreen {
  padding:0 16px 0px 16px;
}
div#o_news div.news_col {
  width:230px;
  float:left;
  padding:0 3px 0 6px;
  border-left:2px dotted #ccc;
}
div#o_news div.news_double_col {
  width:490px;
  float:left;
  padding:0 0 0 0;
  margin:0 0 0 0;
}
div#o_news div.news_col_first {
  padding-left:0;
  border-left:none;
}
div#o_news div.news_col_last {
  padding-right:0;
}
div#o_news p{line-height:1.2em;margin:.5em 0}
div#o_news div.news_col_first p{margin:0 0 0px 0}
div#o_news div.news_col_first p.price{margin:0}
div#o_news div.pic {width:100px;float:left}
div#o_news div.info {width:120px;float:left;padding-left:4px}
div#o_news p.price{font-size:12px;margin:0;line-height:1.1em}
div#o_news p.remaining{font-size:11px;margin:2px 0 2px 0;line-height:normal;}
div#o_news p.remaining span{font-size:12px;font-weight:bold;display:inline;white-space:nowrap;
    border-radius:3px;-webkit-border-radius:3px;
    padding:1px 4px 0 4px;background-color:red;color:white;}
div#o_news img.rare_item{left:62px;top:6px;width:30px;height:13px;border:0;position:absolute;background:none}

/* ClubFoo */
div#membership_info {float:left;width:500px;margin-top:20px;margin-bottom:20px;}
div#memberships {display:block}
div.membership {float:left;}
div#member_badge {float:left;width:180px;margin-top: 10px;}
div#member_badge span{color:#b59222;position:absolute;top:77px;left:50px;}

/* User Status */
div#user_status {background-color: #eee;width:500px;padding: 8px 0px 2px 15px;margin-bottom: 15px;}
div#status_header{font-weight: bold;}
div#status_header a{margin-left: 10px;}
div#user_status div#text{margin-bottom: 10px;}
div#user_status div#update_status_link{display:block;margin: 10px 0px 0px 5px;}
div#user_status span#char_limit{margin-left: 5px;}
div#status_text {margin-left: 5px;width:480px;}

/* Promotion */
div#main_promo {margin-left: 20px;width:694px;}
div#main_promo span.promo_header {font-size:16px;color:#000;font-weight: bold}
div#promo_guidelines {margin-top: 10px;font-size:12px;float:right;}
div#promo_start_note {padding: 12px 0px 0px 0px;}

/* Parents */
div.parents_div {margin: 15px 0px 0px 0px;}
div.parents_div div.header_img {float: left;width:120px;}
div.parents_div h2 {font-size:20px;font-weight: bold;margin:0 0 .5em 0!important}
div.parents_div div.inner_header {font-size:20px;font-weight: bold;margin-top: 15px;}
div.parents_div .text {margin: 10px 0px 20px 0px;}

/* Verify */
div#verify_div {}
div#verify_div div#gift_img {float:left;}
div#verify_div div#gift_desc {padding:50px 0px 0px 25px;}
div#verify_div div#email_div {padding-top:15px;clear:both;}
div#verify_div div#send_code {margin-top:10px;padding:3px 0px 5px 0px;}
div#verify_div div#enter_code {margin-top:25px;}
div#verify_div div#enter_email_code {margin-top:10px;}
div#verify_div div#email_sent {margin-top:15px;}
div#verify_div span#s_email {margin-top:10px;display:block;}
div#verify_div span#s_code {margin-top:10px;display:block;}
div#verify_div span#s_activate {padding:10px 0px 10px 0px;margin-top:10px;display:block;}
div#verify_div label#display_email {margin-left:5px;font-size:12px;}

/* Wallpaper */
div.wallpaper_container {clear:both;border-bottom: 1px solid #ccc;padding-bottom: 15px}
div.wallpaper_img {float:left;text-align: center}
div.wallpaper_img img {width:500px;border:0px}
div.wallpaper_images {margin:60px 0px 0px 0px;padding:0px 0px 0px 50px;}
div.wallpaper_images ul {list-style-image: url(/web/20150203033442im_/http://www.foopets.com/images/star.png);}
div#wallpaper_instruct {clear:both}
div.back_to_top {clear: both;text-align: right;font-size: 12px;}

/* Adoption Center */
div#header h1#adoptionlogo {
    display:block;
    position:relative;
    z-index:9999;
    background:transparent url('/web/20150203033442im_/http://www.foopets.com/images/foopets_logo_195x71.png') no-repeat;
    width:202px;
    height:72px;
    margin:0 0 -41px 10px;
    padding:0;
    overflow:hidden;
}
div#header h1#adoptionlogo a{z-index:40000;display:block;position:relative;width:238px;height:94px;text-indent:-1000px;}
div#adoptioncontent {padding:0px;min-height:400px;overflow:hidden;}
div#adoptioncontent.widescreen {padding:0 0px 0px 0px;min-height:400px;overflow:hidden;}
div.adoption div#content{padding-top:10px;z-index:1000;margin-bottom:0;padding-bottom:0}
div.adoption div#userlinks{
  position:absolute;
  z-index:1000;
  text-align:left;
  height:22px;
  width:520px;
  top:45px;
  right:16px;
}

div.adoption div#leftlinks{
  position:absolute;
  z-index:1000;
  text-align:left;
  height:22px;
  width:730px;
  top:65px;
  right:16px;
  font-size: 16px;
}

div#adoptionfooter {height:60px}
div#adoptionfooter i{display:inline;position:relative;padding:0 3px;color:#999794;font-style:normal}


div.join_cf_blurb {margin:0 18px 0px 0px;padding-left: 15px;}
div.join_cf_blurb button.second{margin-top: 100px;}
div.join_cf_blurb h3 {color:#000;font-size:20px;margin-bottom: 5px;}
div.join_cf_blurb p {font-size:15px;line-height:1.3}
div.cf_blurb_wrapper {clear:both;padding:25px 0px 0px 7px;}
div.cf_blurb_wrapper h3.video_header {padding-left: 16px;}
div.video_container {border:1px solid #666666;float:left;height:250px;width:400px;margin: 0px 0px 20px 18px;}

div#join_clubfoo {padding:15px;}

ul#adoption_menu{list-style:none;height:41px;margin:0;padding:0}
ul#adoption_menu li{display:inline-block;float:left;background:url(/web/20150203033442im_/http://www.foopets.com/images/inactiveTabLeft_250x41.png) no-repeat top left;height:41px;margin:0 0 0 1px;padding:0;line-height:41px;text-align:center;font-size:18px;font-weight:bold;}
ul#adoption_menu li a{display:block;color:#81b5db;padding:3px 12px 0 12px;background:url(/web/20150203033442im_/http://www.foopets.com/images/inactiveTabRight_22x41.png) no-repeat top right;}
ul#adoption_menu li:hover{display:inline-block;float:left;background:url(/web/20150203033442im_/http://www.foopets.com/images/activeTabLeft_250x41.png) no-repeat top left;height:41px;margin:0 0 0 1px;padding:0;line-height:41px;text-align:center;font-size:18px;font-weight:bold;}
ul#adoption_menu li:hover a{display:block;color:#81b5db;padding:3px 12px 0 12px;background:url(/web/20150203033442im_/http://www.foopets.com/images/activeTabRight_22x41.png) no-repeat top right;}
ul#adoption_menu li a:hover{text-decoration:none;}
ul#adoption_menu li.timer{background:url(/web/20150203033442im_/http://www.foopets.com/images/inactiveTimerTab_222x41.png) top left no-repeat;height:41px;display:block;float:left;width:222px;height:41px;margin-left:205px;}
ul#adoption_menu li.timer:hover{background:url(/web/20150203033442im_/http://www.foopets.com/images/adoption_timer_bg_222x41.jpg) top left no-repeat;height:41px;display:block;float:left;width:222px;height:41px;margin-left:205px;}
ul#adoption_menu li.timer a{background:none;}
ul#adoption_menu li.timer_selected{background:url(/web/20150203033442im_/http://www.foopets.com/images/adoption_timer_bg_222x41.jpg) top left no-repeat;padding:0;height:41px;display:block;float:left;width:222px;height:41px;}
ul#adoption_menu li.selected{background:url(/web/20150203033442im_/http://www.foopets.com/images/activeTabLeft_250x41.png) top left no-repeat;}
ul#adoption_menu li.selected a{background:url(/web/20150203033442im_/http://www.foopets.com/images/activeTabRight_22x41.png) top right no-repeat;}
div#adoption_timer.selected {background:none;text-align:center;overflow:hidden;}
div#adoption_timer p{color:#a0bbd6;font-family:tahoma,helvetica,arial,sans-serif;margin:0;padding:0;line-height:1em}
div#adoption_timer p.message{font-size:12px;}
div#adoption_timer p.clock{font-size:25px;font-weight:bold}
div#adoption_timer p.clock a{padding-top:1px;}

.fav_icon {margin-left:1px; width:16px; height:16px;border:none}

/*
     FILE ARCHIVED ON 03:34:42 Feb 03, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:39:21 Aug 20, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.421
  exclusion.robots: 0.014
  exclusion.robots.policy: 0.007
  esindex: 0.008
  cdx.remote: 21.455
  LoadShardBlock: 332.378 (3)
  PetaboxLoader3.datanode: 82.483 (4)
  PetaboxLoader3.resolve: 505.597 (2)
  load_resource: 318.922
*/