a, body, center, div, h1, h2, h3, h4, h5, h6, html, li, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ul {
    list-style: none
}

:focus {
    outline: 0
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%
}

div {
    position: relative;
    height: auto
}

body {
    line-height: 1em;
    background-color: #a5c4e0;
    background-image: url(/images/star_bg_blue2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto
}

body, div {
    font-family: Tahoma, 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #666562;
    line-height: 1.3em
}

h1, h2, h3, h4 {
    font-family: Tahoma, 'Helvetica Neue', sans-serif;
    clear: both;
    line-height: 1.2em;
    margin: 1em 0 .5em 0;
    color: #99db2e
}

h1 {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: normal;
    margin: 0 0 .5em 0
}

h2 {
    font-size: 18px
}

a, a:link {
    color: #0f75bc;
    text-decoration: none
}

a:visited {
    color: #b46aba;
    text-decoration: none
}

a:active, a:focus, a:hover {
    color: #1292e8;
    text-decoration: underline
}

a.novisit:link, a.novisit:visited {
    color: #0f75bc
}

a.novisit:active, a.novisit:focus, a.novisit:hover {
    color: #1292e8
}

a.h1:link, a.h1:visited {
    color: #9ccb3c
}

a.h1:active, a.h1:focus, a.h1:hover {
    color: #5f8dca;
    text-decoration: underline
}

a.withimage:link, a.withimage:visited {
    color: #0f75bc
}

a.withimage:active, a.withimage:focus, a.withimage:hover {
    color: #5f8dca;
    text-decoration: none
}

a {
    outline-color: invert;
    outline-style: none;
    outline-width: medium
}

a:active, a:focus {
    outline: 0
}

.left {
    float: left
}

div#instructions h2 {
    font-size: 28px;
    color: #9ccb3c;
    margin: 5px 0 10px 0
}

div#instructions {
    width: 295px;
    float: left;
    margin-right: 15px;
    text-align: justify
}

div#instructions li {
    line-height: normal;
    margin-bottom: .5em;
    font-size: 14px
}

div#bottom_wrapper h2 {
    font-size: 28px;
    color: #9ccb3c;
    margin: 5px 0 10px 0
}

div#bottom_wrapper {
    text-align: justify
}

div#bottom_wrapper li {
    line-height: normal;
    margin-bottom: .5em;
    font-size: 14px
}

div.clear {
    clear: both
}

h1.arcade {
    font-size: 25px;
    margin: 0 0 20px 0
}

div#game_container {
    margin: 20px 0;
    text-align: center
}

div.back_to_top {
    clear: both;
    text-align: right;
    font-size: 12px
}

#page {
    width: 830px;
    height: auto;
    min-height: 300px;
    margin: 46px auto 0 auto;
    padding: 60px 30px 0 30px;
    overflow: hidden;
    border-radius: 20px
}

#content {
    width: 760px;
    min-height: 512px;
    margin: 0 auto;
    padding: 25px 20px 20px;
    background-color: #fff;
    border-radius: 14px
}

#content a {
    color: #0f75bc
}

#nav {
    position: absolute;
    top: 65px;
    left: 50%;
    z-index: 2;
    width: 870px;
    margin: 0 0 0 -435px;
    padding: 0;
    list-style: none
}

#nav li {
    padding: 0;
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
    width: auto;
    margin: 0
}

#nav li a {
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    font-family: verdana, arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    min-width: 55px;
    padding: 6px 13px 7px 13px;
    background-color: rgba(74, 150, 207, .4);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px
}

#nav li a:active, #nav li a:focus, #nav li a:hover {
    color: #fff
}

#nav li a:active, #nav li a:focus, #nav li a:hover {
    background-color: rgba(74, 150, 207, .8)
}

#footer {
    width: 860px;
    margin: 0 auto;
    padding: 0 30px 40px;
    text-align: center
}

#footer a, #footer a:visited {
    color: #fff
}

#nav_footer {
    padding: 20px 0 10px 0
}

#nav_footer ul li {
    border-right: 1px solid #fff;
    padding: 2px 10px;
    float: left
}

#nav_footer ul li:last-child {
    border-right: none
}

#logo {
    z-index: 3;
    position: absolute;
    width: 228px;
    height: 82px;
    top: 0;
    left: 50%;
    margin: 35px 0 0 -114px;
    padding: 0;
    background-image: url(/images/foopets_logo_228x82.png);
    background-repeat: no-repeat
}

#logo a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -5000px;
    overflow: hidden
}

.navcenter {
    margin: 0 auto;
    display: table;
    white-space: nowrap
}

.navcenter ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table-row;
    white-space: nowrap
}

.navcenter ul li {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

a, b, body, div, em, font, form, h1, h2, h3, h4, h5, h6, html, img, li, p, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1em
}

body {
    background-color: #a5c4e0;
    background-image: url(/images/star_bg_blue2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto
}

body, div, p {
    font-family: Tahoma, 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #666562;
    line-height: 1.3em
}

p {
    margin: 0 0 .5em 0
}

div.games_info {
    width: 170px;
    height: 52px;
    margin-top: 10px;
    float: left
}

div#this_hour {
    max-height: 4000px;
    overflow: auto
}

div.pet div.pic {
    float: left;
    display: inline;
    width: 88px;
    height: 68px;
    margin: 0 5px 0 0
}

div.pet div.info {
    float: none;
    display: inline-block;
    width: 150px;
    padding-top: 0;
    height: auto
}

div.pet div.info {
    font-size: 14px;
    margin: 0
}

div.pet div.info h3 {
    font-size: 18px !important;
    margin: 0 !important
}

div.pet {
    margin: 0 0 5px 0;
    padding: 0;
    height: auto
}

div.pet h4 {
    font-size: 15px;
    padding: 0;
    margin: -1px 0 0 0;
    color: #000
}

.pet_description {
    margin: 5px 0 0 0
}

.pet_description p {
    line-height: 1.2em
}

.pet_description div {
    display: block;
    text-align: right;
    padding-top: 2px;
    margin-top: -15px
}

div#footer_content {
    padding: 0 20px
}

div#footer_content h4 {
    color: #bbb;
    font-size: 13px;
    margin: 0 0 5px 0;
    padding: 0;
    border-bottom: 1px solid #bbb
}

div#footer_content div.last {
    margin-right: 0
}

div#footer_content ul {
    margin: 0;
    padding: 0
}

div#footer_content li {
    padding: 0 0 0 7px;
    font-size: 12px;
    line-height: 1.4em
}

div#footer_content a, div#footer_content a:hover, div#footer_content a:visited {
    color: #0f75bc
}

div#game_dir {
    margin-bottom: 60px
}

div#game_dir div.game {
    margin: 20px 10px;
    width: 340px;
    float: left
}

div#game_dir div.game div.pic {
    width: 105px;
    float: left
}

div#game_dir div.game div.pic img {
    width: 100px;
    height: 75px
}

div#game_dir div.game div.info {
    width: 220px;
    float: left;
    padding-top: 3px
}

div#game_dir div.game div.info h3 {
    font-size: 17px;
    line-height: 1.1em;
    margin: 0 0 2px 0
}

div#game_dir div.game div.info p {
    font-size: 15px;
    margin: 0;
    line-height: 1.1em
}

div#game_dir div.game div.info p.sm {
    font-size: 13px;
    margin-top: 3px
}

div.p_pic {
    font-size: 11px;
    float: left;
    border: 0 solid #ccc
}

div.p_info {
    font-size: 11px;
    padding-left: 10px
}

#play {
    z-index: 3;
    position: absolute;
    width: 320px;
    height: 100px;
    top: 593px;
    left: 50%;
    margin: 0 0 0 -180px;
    padding: 0
}

#play a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -5000px;
    overflow: hidden
}

#footer_logo {
    position: relative;
    display: inline-block;
    z-index: 3;
    width: 221px;
    height: 78px;
    margin: 0 auto;
    padding: 0;
    background-image: url(/images/footer_logo.jpg)
}

#footer_logo a {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -5000px;
    overflow: hidden
}

.navcenter ul li.last {
    display: table-cell
}